<div class="row">
	<div class="col-sm-4">
		<h3>Data Sources [A-Z]</h3>
		<ul>
			<%= render partial: "source", collection: @source.sort_by { |item| item["title"].downcase } %>
		</ul>
	</div>
	<div class="col-sm-4">
		&nbsp;
	</div>
	<div class="col-sm-4">
		&nbsp;
	</div>
</div>
