<div class="row">
    <div class="col-sm-12">
        <div class="weekly-intro">
        	<strong>URL:</strong> <a href="https://www.oebb.at" target="_blank">https://www.oebb.at <i class="fa fa-external-link" aria-hidden="true"></i></a>
            <p>The ÖBB group is one of Austrias leading eco-friendly companies and transports 459 million passengers and 115 million tons of goods operating on 100% traction power from renewable sources.<br>
            <span style="color: gray;">#austria &nbsp; #transport</span></p>
            <p class="text-right">
            	<a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> <em>update general information</em></a><br>
            	(last updated on 10. Sept 2019 by <a href="/user/48">Christoph Fabianek</a>)
            </p>
        </div>
        <hr>
        <strong>Request data via:</strong> Email <a href="">auskunftsbegehren@pv.oebb.at</a><br>
        <strong>Response format:</strong> CSV<br>
        <strong>Tools:</strong>
        <ul>
        	<li><a href="">Axel Pollores GDPR Request Template</a></li>
        	<li><a href=""><i class="fa fa-pencil" aria-hidden="true"></i> <em>add new tool</em></a></li>
        </ul>
        <hr>
        <h3>User Reports</h3>
        <p><strong>Anonymous on 10.09.2019</strong><br>
        Submitted GDPR request 2 months ago and did not get any answer :-(</p>
        <p><strong>John Doe on 18.08.2019</strong><br>
        Received a free ÖBB USB stick with 2 MB of PDF data on it; includes my contact data and invoices from annual ÖBB pass</p>
        <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> <em>submit your report on ÖBB data request</em></a>
	</div>
</div>