<li>
	<strong><a href="<%= event2.html_link.to_s %>"><%= event2.summary.to_s %></a></strong> 
	(<%= (event2.start.date || event2.start.date_time).to_date.strftime("%F") %> 
			<% if !event2.start.date_time.nil? %>
				<%=  event2.start.date_time.to_time.strftime("%H:%M") + " UTC" %>
			<% else %>
				all day
			<% end %>)
</li>