<div class="apps-elements">
	<div class="post-title">
		<a href="/source/<%= source.source_id.to_s + view_mode %>"><%= Source.find(source.source_id).title %></a>
	</div>
	<div class="post-text">
		<%= Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(Source.find(source.source_id).description.to_s).html_safe %>
	</div>
	<div class="post-tags">
		<%= render partial: "tag2", collection: Source.find(source.source_id).source_tags.sort_by { |item| Tag.find(item.tag_id).tag } %>
	</div>

</div>