Please confirm your MyData Weekly Digest subscription by clicking on the following link:

<a href="https://weekly-digest.ownyourdata.eu/<%= @lang.to_s %>/subscribe?key=<%= @key.to_s %>"><%= "https://weekly-digest.ownyourdata.eu/" + @lang.to_s + "/subscribe?key=" + @key.to_s %></a>

<p>&nbsp;</p>
Note: if you did not request to subscribe to the MyData Weekly Digest just ignore this email and any data associated to this request will be deleted within 2 days
<p>&nbsp;</p>
<a href="https://www.ownyourdata.eu/en/imprint/">OwnYourData Imprint</a> &nbsp; <a href="https://www.ownyourdata.eu/en/privacy-policy/">Privacy Policy</a>