@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
    font-family: "Open Sans",Arial,sans-serif;
    margin: 0;
    position: relative;
}

.affix {
  top: 20px;
  padding: 0;
  z-index: 9999 !important;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    /*add trasnparent border */
    border-left: 2px solid transparent;
    font-size: larger;
    padding-left: 0;
    padding-right: 0;
}
/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    /* border-left: 2px solid #563d7c; */
}

/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/*@media screen and (max-width: 768px) {
  #info, .info-elements, #question, .quest-elements, #apps, .apps-elements, #stats  {
    margin-left: 150px;
  }
}*/


.info {
  margin-top: 15px;
  margin-left: 40px;
}

.date {
  display: inline;
  margin-top: 20px;
  margin-left: -40px;
  font-weight: 600;
  font-size: large;
}

.date_plain {
  display: inline;
  margin-top: 20px;
  font-weight: 600;
  font-size: large;
}


.user {
  display: inline;
  font-style: italic;
  font-size: large;
}

.user_app {
  display: inline;
  font-style: italic;
  font-size: large;
  margin-left: -40px;
}

.event {
  display: inline;
  font-style: italic;
  font-size: large;
  line-height: 1.3em;
}

.title {
  display: inline;
  font-weight: 500;
  font-size: large;
  line-height: 1.3em;
}

.title_app {
  display: inline;
  font-weight: 500;
  font-size: large;
  line-height: 1.3em;
  margin-left: -40px;
}

.description {
  margin: 1px 0 5px -40px;
}

.tags {
  margin-left: -40px;
  line-height: 2em;
}

.tag {
  display: inline;
  padding: 2px 8px 3px;
  color: gray;
  border-radius: 10px;
  background: lightgrey;
  font-size: small;
  margin-right: 4px;
}
a.tag:hover, a.tag:visited, a.tag:link, a.tag:active{
  color: gray;
  text-decoration: none;
}

a.mydata {
    background: transparent url(mydata.png) center right no-repeat;
    background-size: cover;
    padding-right: 25px;
    margin-left: 5px;
}

.panel-body {
  padding: 0 30px;
}

.statistic {
  padding-top: 7px;
}

.form-group {
  margin-bottom: 0;
}

.form-horizontal {
  margin-top: 10px;
  margin-bottom: 20px;
}

.title-link:hover, .title-link:visited, .title-link:link, .title-link:active {
    text-decoration: none;
    color: black;
}

.digest-navigtation {
  margin-bottom: 20px;
}
.previous-digest {
  display: inline;
}
.next-digest {
  float: right;
}

.section {
  font-size: x-large;
  color: #434343;
  display: inline;
  margin-top: 30px;
}

.section-sub {
  color: #999999;
  display: inline;
  font-size: larger;
}

.post-title {
  font-size: large;
  color: #337ab7;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 5px;
  line-height: 1.5em;
}

.post-sub {
  display: inline;
  margin-top: 5px;
  margin-bottom: 10px;
}

.post-user {
  font-size: larger;
  color: #434343;
  font-weight: 600;
  display: inline;
}

.post-date {
  font-size: inherit;
  color: #999999;
  display: inline;
}

.post-text {
  font-size: 14px;
  margin-top: 6px;
}
.post-text p {
  font-size: 14px;  
  line-height: 1.5em;
}

.weekly-intro {
  margin-top: 15px;
}

.weekly-intro p {
  font-size: 14px;
  line-height: 1.5em;
}

.post-tags {
  line-height: 1.3em;
  margin-top: -8px;
}

.post-tag {
  color: #999999;
}

/* footer */

footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #666666;
  width: 100%;
}

footer a {
  color: #666666;
}

footer a:hover {
  color: #666666;
}

footer small {
  float: left;
}

footer ul {
  /* float: right; */
  margin-left: -50px;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.fakelink {
  color: #666666;
  outline: none; 
  padding: 5px; 
  border: 0px; 
  box-sizing: none; 
  background-color: transparent !important; 
  margin: -5px 0 0 8px;
  box-shadow: none !important;
}

.fakelink_nounderline {
  color: #666666;
  outline: none; 
  padding: 5px; 
  border: 0px; 
  box-sizing: none; 
  background-color: transparent !important; 
  margin: -5px 0 0 8px;
  box-shadow: none !important;
}


.fakelink:focus,
.fakelink:hover {
  color: #666666;
  text-decoration: underline !important;
}

.dropdown-text {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
