<li class="info">
	<div class="title_app">
		<a href="/app/<%= app.app_id.to_s + view_mode %>">
			<%= App.find(app.app_id).title %>
		</a>
	</div>
	<div class="description">
		<%= Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(App.find(app.app_id).description.to_s).html_safe %>
	</div>
	<div class="tags">
		<%= render partial: "tag", collection: App.find(app.app_id).app_tags.sort_by { |item| Tag.find(item.tag_id).tag } %>
	</div>
</li>