<% if (@counter % 3) == 2 || (defined?(force) && force && (((@counter-1) % 3) != 2)) 
        cta_array = ["current_issue", "tracing", "subscribe"]
        current = (@counter/3).to_i % cta_array.length
        force = nil
%>
    <div class="jumbotron text-center" style="margin: 25px 10px 10px;background-color: #F3FCF8;padding: 20px;">
        <%= render partial: "cta_" + cta_array[current].to_s %>
    </div>
<% end
   @counter += 1 %>