<strong style="font-size: 14px;">Interesting Articles?</strong><br>
<p style="font-size: 14px;">Read more news in the current Weekly Digest issue!</p>
<a href="/<%= I18n.locale.to_s %>/current" onmousedown="$('#stats_target').val('weekly_cta');$('#stats_target_id').val('current');$('#stats_form').submit();" class="btn btn-success">Check it out</a>