<strong style="font-size: 14px;">Looking for Regular Updates?</strong><br>
<p style="font-size: 14px;">Subscribe to the Weekly Digest newsletter via email:</p>
<div class="input-group" style="width: 100%;">
    <input class="form-control" placeholder="<%= t('subscribe.email_address') %>" type="text" name="email">
</div>
<button name="button" type="submit" class="btn btn-success" data-disable-with="<i class='fa fa-spinner fa-spin'></i> Subscribe"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%= t('subscribe.button') %></button>