<p>MyData Weekly Digest をご覧いただきありがとうございます。<br>
	MyData Weekly Digest は人間を基軸としてアプローチした個人情報管理の取り組みについて広範囲で最良の情報を提供することに特化したニュースサイトです。<a href="https://mydataglobal.slack.com" target="_blank">MyData Global Slack Channel</a> から取得した情報を主として、2019年6月より提供しています。投稿とコメントは各エントリに表示されている各ユーザーに帰属しています。<br>
	MyDataとは個人情報の倫理的使用についてのアイデアであり、そして革新的なヴィジョンです。また、MyData は個人情報運動とコミュニティ活動であり、私たちは世界的に拡がりつつある非営利組織です。詳しくはこちら：<a href="https://mydata.org" target="_blank">mydata.org</a></p>

<p>OwnYourData と MyDataコミュニティは発展し続けるデジタル社会と同様の価値があるのです。<a href="https://www.ownyourdata.eu/en#mission">OwnYourData Mission Statement</a> についての詳細はこちらをご参照の上、<a href="https://mydata.org/get-involved/" target="_blank">MyData 運動へのご支持</a>とご参加をご検討ください。そして提案があれば、遠慮なく<a href="mailto:mdwd[at]ownyourdata.eu">mdwd(at)ownyourdata.eu</a> までに連絡してください。</p>
