<p class="intro_short">MyData Weekly Digest をご覧いただきありがとうございます。 <a class="more_link" href="#" data-turbolinks="false"><%= t('general.show_more') %>&nbsp;>></a></p>

<p class="intro_full" style="display: none;">MyData Weekly Digest をご覧いただきありがとうございます。<br>
	MyData Weekly Digest は、人間を基軸としてアプローチする個人情報管理の取り組みに関して、広範囲で最良の情報を提供することに特化したニュースサイトです。<a href="https://mydataglobal.slack.com" target="_blank">MyData Global Slack Channel</a> から取得した情報を中心に、2019年6月から提供しています。投稿とコメントは各エントリに表示されている各ユーザーに帰属しています。<br>
	MyDataとは個人情報の倫理的使用についてのアイデアであり、そして革新的なヴィジョンです。また、MyData は社会を変えるムーブメントとコミュニティ活動でもあり、同時に世界的に拡がりつつある非営利組織です。詳しくはこちらの<a href="https://mydata.org" target="_blank">mydata.org</a>をご覧ください。</p>

<p class="intro_full" style="display: none;">OwnYourData と MyDataコミュニティは、持続可能かつ発展し続けるデジタル社会の価値をともに認めています。<a href="https://www.ownyourdata.eu/en#mission">OwnYourData Mission Statement</a> についての詳細はこちらを参照していただき、<a href="https://mydata.org/get-involved/" target="_blank">MyData ムーブメントへのご支持</a>とご参加をご検討ください。そして提案がありましたら、気兼ねなく<a href="mailto:weekly-digest[at]ownyourdata.eu">weekly-digest(at)ownyourdata.eu</a> までご連絡ください。 <a class="less_link" href="#" data-turbolinks="false"><< <%= t('general.show_less') %></a></p>
