<p>MyData Weekly Digest에 오신 것을 환영합니다. MyData Weekly Digest는 사람중심적 개인데이터 관리에 대한 최신 소식을 전하고 있는 뉴스 사이트입니다. 2019년 6월부터 <a href="https://mydataglobal.slack.com" target="_blank">MyData Global Slack Channel</a>에 올라오는 핵심 정보를 공유하고 있습니다. <br>
게시물 및 코멘트는 각 항목과 함께 명시된 해당 정보의 제공자에게 소유권이 있습니다. <br>
MyData는 개인데이터의 윤리적 사용을 위한 철학이자 사상이며 혁신적인 비전입니다. 아울러 MyData는 비영리 단체로서 사회운동을 펼치고 있는 커뮤니티이기도 합니다. 더 자세한 정보는 <a href="https://mydata.org" target="_blank">mydata.org</a>에서 읽어보실 수 있습니다.</p>

<p>OwnYourData는 MyData 커뮤니티와 같은 비전을 공유하는 기업으로서 공정하고 지속가능하게 번창하는 디지털 사회를 구현하기 위해 열심히 활동하고 있습니다. <a href="https://www.ownyourdata.eu/en#mission">OwnYourData 사이트에</a> 기재된 미션문을 읽어보시고 MyData 혁신에 동참해 주시면 좋겠습니다. 문의사항 또는 의견이 있으신 분께서는 언제든지  <a href="mailto:mdwd[at]ownyourdata.eu">mdwd(at)ownyourdata.eu</a> 로 연락 주시면 적극 도와드리겠습니다. </p>
