<li style="margin-bottom: 25px;">
	<a href="/weekly/<%= week2["release"].to_s + view_mode %>" style="color: #42B58C; font-weight: 600;">
		<%= week2["release"].strftime("%B #{week2["release"].day.ordinalize}, %Y") %>
	</a><br>
	<span><%= truncate(
Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(week2["intro"].to_s), length: 220, escape: false, separator: " ").html_safe 
	 %></span> <a href="/weekly/<%= week2["release"].to_s + view_mode %>">read more</a>
</li>